@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: block;
  place-items: unset;
  min-width: unset;
  min-height: unset;
  background-color: #f8fafc;
  color: #0f172a;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  width: 100%;
}

canvas {
  display: none;
}
